# Biar file-file/folder ini ga ikut ke-commit
*.class
.vscode/
bin/
target/
/Praktikum 10/jbdc_mhs_service/nbproject/private/
/Praktikum 10/In-Lab/jbdc_mhs_service/nbproject/private/
/Praktikum 10/In-Lab/jbdc_mhs_service/build/
